<form class="frm-container">
    <fieldset class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password" ng-model="user.password">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputNewPassword">New Password</label>
        <input type="password" class="form-control" id="InputNewPassword" placeholder="New Password" ng-model="user.newPassword">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputConfirmNewPassword2">Confirm New Password</label>
        <input type="password" class="form-control" id="InputConfirmNewPassword2" placeholder="Confirm New Password" ng-model="user.confirmNewPassword">
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="changePass(user)">Change Password</button>
</form>