<h1 class="color-container-title">Edit Project</h1>
<form class="frm-container">
    <fieldset class="form-group">
        <label for="title">Leader</label>
        <input type="text" class="form-control" id="title" placeholder="{{project.Lead.Username}}" ng-model="project.lead">
    </fieldset>
    <fieldset class="form-group">
        <label for="project">Priorities</label>
        <input type="text" class="form-control" id="project" placeholder="{{priorities}}" ng-model="project.priorities">
    </fieldset>
    <fieldset class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" placeholder="{{labels}}" ng-model="project.label">
    </fieldset>
    <fieldset class="form-group">
        <label for="name">Project Name</label>
        <input type="text" class="form-control" id="name" placeholder="{{project.Name}}" ng-model="project.name">
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Project Description</label>
        <textarea type="text" class="form-control" id="description" rows="3" ng-model="project.description" placeholder="{{project.Description}}"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="putProject(project)">Edit Project</button>
</form>