<h1 class="color-container-title">Dashboard</h1>
<div id="dashboard-main">
    <a href="#/projects/add"><button class="btn-primary">Add Project</button></a>
<h2>Affiliated Projects</h2>
    <div class="inner-addon left-addon">
        <span class="glyphicon glyphicon-user"></span>
        <input type="text" class="form-control" id="search-bar" placeholder="search for project" ng-model="search_value"/>
        <button class="btn-primary" id="btn-search-project" ng-click="searchProject()">Go</button>
    </div>
    <hr>
<div ng-repeat="userProject in userProjects">
    <img src="img/project-ico.gif" alt="ico.gif" width="20px" height="20px" class="project-image">
    <a href="#/projects/{{userProject.Id}}"><h3 class="project-name">{{userProject.Name}}</h3></a><br>
    <hr>
</div>
    <h3>{{projectsFound}}</h3>
</div>
<div id="dashboard-second">
    <h3 class="color-container-title">Issues Assigned To Me</h3>
    <table class="table-responsive" id="dashboard-table">
     <thead>
     <tr>
         <th>Title</th>
         <th>Description</th>
         <th>Project</th>
         <th>Due Date</th>
     </tr>
      </thead>
      <tbody>
       <tr ng-repeat="issue in issues">
           <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
           <td>{{issue.Description}}</td>
          <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
           <td>{{issue.DueDate}}</td>
       </tr>
       </tbody>
    </table>

    <div id="dashboard-buttons">
    <button class="btn-primary" ng-click="previousPage()">Previous Page</button>
    <button class="btn-primary" ng-click="nextPage()">Next Page</button>
    </div>
</div>