<h1>Dashboard</h1>
<h2>Affiliated Projects</h2>
<div ng-repeat="userProject in userProjects">
    <a href="#">{{userProject}}</a><br>
</div>

<table class="table-responsive" id="dashboard-table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Project</th>
        <th>Due Date</th>
    </tr>
    </thead>
    <tbody ng-repeat="issue in issues">
    <tr>
        <td><a href="#">{{issue.Title}}</a></td>
        <td>{{issue.Description}}</td>
        <td><a href="#">{{issue.Project.Name}}</a></td>
        <td>{{issue.DueDate}}</td>
    </tr>
    </tbody>
</table>