<h1 class="color-container-title">Add Issue</h1>
<form class="frm-container">
    <fieldset class="form-group">
        <label for="assignee-select">Assignee</label>
        <input class="form-control" required id="assignee-select" placeholder="Assignee for the Issue" ng-model="issue.Assignee">
    </fieldset>
    <fieldset class="form-group">
        <label for="due">Due Date</label>
        <input type="datetime" required class="form-control" placeholder="Issue due date" id="due" ng-model="issue.DueDate">
    </fieldset>
    <fieldset class="form-group">
        <label for="priority-select">Priority</label>
        <select class="form-control" id="priority-select" ng-model="issue.priority">
            <option ng-repeat="priority in priorities" value="{{priority.Id}}">{{priority.Name}}</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="labels-inp">Labels</label>
        <input type="text" list="suggestions" class="form-control" ng-change="addSuggestions(issue.labels)" placeholder="Labels for the issue" required id="labels-inp" ng-model="issue.labels">
        <datalist id="suggestions">
            <option ng-repeat="suggestion in suggestions" value="{{suggestion.Name}}">
        </datalist>
    </fieldset>
    <fieldset class="form-group">
        <label for="title">Title</label>
        <input class="form-control" placeholder="Issue Title" required id="title" ng-model="issue.Title">
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" required id="description" rows="3" ng-model="issue.Description"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="createIssue(issue)">Create Issue</button>
</form>