#welcome-h1, #welcome-span {
  color: #6d69ff;
  width: 50%;
  margin: 0 auto;
}
.frm-container {
  width: 70%;
  margin: 0 auto;
}
.frm {
  display: inline-block;
  float: left;
  width: 45%;
  margin: 2%;
}
.navbar {
  margin-bottom: 0;
}
#dashboard-table {
  width: 40%;
  float: right;
  margin: 20px;
}
#login-frm {
  position: relative;
  top: 0;
}
#page-title {
  background-color: #00b3ee;
  padding-left: 3%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  opacity: .8;
}
#page-title > p {
  color: #0000FF;
  opacity: .7;
  font-size: 1.3em;
  font-weight: bold;
}