#welcome-h1, #welcome-span {
  color: #6d69ff;
  width: 50%;
  margin: 0 auto;
}
.frm-container {
  width: 70%;
  margin: 0 auto;
}
.frm {
  display: inline-block;
  width: 45%;
  margin: 2%;
}
#login-frm {
  position: relative;
  top: 0;
}