<h1 class="color-container-title">Issue Page</h1>
<div class="wrapper">
<form class="frm">
    <button class="btn-primary" id="btn-edit" ng-show="show" ng-click="redirectToEdit()">Edit</button>
    <br>
    <h1 id="issue-page-key" class="color-container">{{IssueKey}}</h1>
    <fieldset class="form-group">
        <span>Title:</span>
        <h2 class="color-container">{{Title}}</h2>
    </fieldset>
    <fieldset class="form-group">
        <span>Description:</span><br>
        <h2 class="color-container">{{Description}}</h2>
    </fieldset>
    <fieldset class="form-group">
        <span>Assigneeid:</span><br>
        <h2 class="color-container">{{Assigneeid}}</h2>
    </fieldset>
    <fieldset class="form-group">
        <span>PriorityId:</span><br>
        <h2 class="color-container">(currentId: {{PriorityId}}) -> {{priorityName}}</h2>
    </fieldset>
    <fieldset class="form-group">
        <span>Due Date:</span><br>
        <h2 class="color-container">{{duedate}}</h2>
    </fieldset>
    <p>Author: {{author}}</p>
    <p>Project: {{Project}}</p>
    <p>Status: {{status}}</p>
    <p>Labels: {{labels}}</p> <!-- Labels as string separated by comma -->
    <hr>
</form>
<div class="status-container">
    <p>Avaliable Statuses</p>
    <p ng-show="showClosed">---Closed--- <button ng-click="changeStatusToClosed()" class="btn-primary">Change</button></p>
    <p ng-show="showInProgress">---inProgress--- <button ng-click="changeStatusToInProgress()" class="btn-primary">Change</button></p>
    <p ng-show="showOpen">---Open--- <button ng-click="changeStatusToOpen()" class="btn-primary">Change</button></p>
    <hr>
</div>

<div class="comment-container">
<span>Text</span>
<textarea name="comment" id="comment" rows="5" class="text-primary" style="min-width: 100%" ng-model="comment"></textarea><br>
<button class="btn-primary" ng-click="addComment(comment)">Add Comment</button>
</div>
<div class="comment-section">
    <div ng-repeat="comment in comments">
        <div class="color-container">
            <p>{{comment.Author.Username}} - {{comment.CreatedOn}}</p>
        </div>
        <p>{{comment.Text}}</p>
        <hr>
    </div>
</div>
</div>