<h1 class="color-container-title">Issue Page</h1>
<div class="wrapper">
<div class="frm">
    <button class="btn-primary" id="btn-edit" ng-show="show_edit" ng-click="redirectToEdit()">Edit</button>
    <br>
    <h1 id="issue-page-key" class="color-container">{{Issue.IssueKey}}</h1>
    <hr>
    <p><strong>Title:</strong></p>
    <h2 class="color-container">{{Issue.Title}}</h2>
    <hr>
    <label for="desc">Description:</label>
    <textarea disabled class="color-container" id="desc">{{Issue.Description}}</textarea>
    <hr>
    <p><strong>Assignee:</strong>(Id: {{Issue.Assignee.Id}})</p>
    <h2 class="color-container">{{Issue.Assignee.Username}}</h2>
    <hr>
    <p><strong>Priority: </strong>(currentId: {{Issue.Priority.Id}})</p>
    <h2 class="color-container">{{Issue.Priority.Name}}</h2>
    <hr>
    <p><strong>Due Date:</strong></p>
    <h2 class="color-container">{{Issue.DueDate}}</h2>
    <hr>
    <p>Author: {{Issue.Author.Username}}</p>
    <p>Project: <a href="#/projects/{{Issue.Project.Id}}">{{Issue.Project.Name}}</a></p>
    <p>Status: {{status}}</p>
    <p>Labels: {{labels}}</p> <!-- Labels as string separated by comma -->
    <hr>
</div>
<div class="status-container" ng-show="show_status_container">
    <p><strong></strorn><span ng-show="noStatuses">--No--</span>Avaliable Statuses</strong></p>
    <p ng-repeat="Statuses in availableStatuses" ng-show="{{Statuses.Id}}">---{{Statuses.Name}}--- <button ng-click="changeStatus(Statuses)" class="btn-primary">Change</button></p>

    <hr>
</div>

<div class="comment-container">
<span>Text</span>
<textarea name="comment" id="comment" rows="5" class="text-primary" style="min-width: 100%" ng-model="comment"></textarea><br>
<button class="btn-primary" ng-click="addComment(comment)">Add Comment</button>
</div>
<div class="comment-section">
    <div ng-repeat="comment in comments">
        <div class="color-container">
            <p>{{comment.Author.Username}} - {{comment.CreatedOn}}</p>
        </div>
        <p>{{comment.Text}}</p>
        <hr>
    </div>
</div>
</div>