<h1 class="color-container-title">Add Project</h1>
<form class="frm-container">
    <fieldset class="form-group">
        <label for="title">Leader</label>
        <input type="text" class="form-control" id="title" placeholder="Leader of Project" ng-model="project.LeadId">
    </fieldset>
    <fieldset class="form-group">
        <label for="key">Project Key</label>
        <input class="form-control" id="key" placeholder="Project Key" ng-model="project.key">
    </fieldset>
    <fieldset class="form-group">
        <label for="project">Priorities</label>
        <input type="text" class="form-control" id="project" placeholder="Project Priorities" ng-model="project.priorities">
    </fieldset>
    <fieldset class="form-group">
        <label for="label">Label</label>
        <input type="text" list="suggestions" ng-change="addSuggestions(project.label)" class="form-control" id="label" ng-model="project.label">
        <datalist id="suggestions">
            <option ng-repeat="suggestion in suggestions" value="{{suggestion.Name}}">
        </datalist>
    </fieldset>
    <fieldset class="form-group">
        <label for="name">Project Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="project.name">
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Project Description</label>
        <textarea type="text" class="form-control" id="description" rows="3" ng-model="project.description"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="createProject(project)">Create Project</button>
</form>